<a href="https://colab.research.google.com/github/Fady-Emeel/British-Airways-virtual-internship/blob/main/British_Airways_Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task 1

---

## Web scraping and analysis

This Jupyter notebook includes some code to get you started with web scraping. We will use a package called `BeautifulSoup` to collect the data from the web. Once you've collected your data and saved it into a local `.csv` file you should start with your analysis.

### Scraping data from Skytrax

If you visit [https://www.airlinequality.com] you can see that there is a lot of data there. For this task, we are only interested in reviews related to British Airways and the Airline itself.

If you navigate to this link: [https://www.airlinequality.com/airline-reviews/british-airways] you will see this data. Now, we can use `Python` and `BeautifulSoup` to collect all the links to the reviews and then to collect the text data on each of the individual review links.

In [ ]:
import csv
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

In [ ]:
# Set the URL of the paginated webpage that you want to scrape
url = "https://www.airlinequality.com/airline-reviews/british-airways"

# Initialize an empty list to store the data that you scrape
data = []

# Setting the initial page number and the increment that you want to use to paginate through the webpage
page_num = 1
page_incr = 1
page_size = 100
# maximum number of pages to be scraped
max_pages = 20

# Set the URL of the webpage to be scraped 
paginated_url = f"{url}/page/{page_num}/?sortby=post_date%3ADesc&pagesize={page_size}"

# A while loop to paginate through the webpage and scrape the data
while page_num <= max_pages:

    print(f"Scraping page {page_num}")

    # A GET request to the paginated URL
    response = requests.get(paginated_url)

    # Parsing the response using BeautifulSoup
    parsed_content = BeautifulSoup(response.text, "html.parser")

    # Finding all the elements on the page that contain the data to be scraped
    elements = parsed_content.find_all("div",class_ = "body")

    # Looping through the elements and extract the data that you want to scrape
    for element in elements:
        header = element.find("h2",class_ = "text_header").text.replace("\n", " ")
        sub_header = element.find("h3",class_ = "text_sub_header").text.replace("\n", " ")
        content = element.find("div",class_ = "text_content").text.replace("\n", " ")
        
        data.append([header,sub_header,content])

    # Increasing the page number and setting the paginated URL to the new page
    page_num += page_incr
    paginated_url = f"{url}/page/{page_num}/?sortby=post_date%3ADesc&pagesize={page_size}"

    print(f"   ---> {len(data)} total reviews")

Scraping page 1
   ---> 100 total reviews
Scraping page 2
   ---> 200 total reviews
Scraping page 3
   ---> 300 total reviews
Scraping page 4
   ---> 400 total reviews
Scraping page 5
   ---> 500 total reviews
Scraping page 6
   ---> 600 total reviews
Scraping page 7
   ---> 700 total reviews
Scraping page 8
   ---> 800 total reviews
Scraping page 9
   ---> 900 total reviews
Scraping page 10
   ---> 1000 total reviews
Scraping page 11
   ---> 1100 total reviews
Scraping page 12
   ---> 1200 total reviews
Scraping page 13
   ---> 1300 total reviews
Scraping page 14
   ---> 1400 total reviews
Scraping page 15
   ---> 1500 total reviews
Scraping page 16
   ---> 1600 total reviews
Scraping page 17
   ---> 1700 total reviews
Scraping page 18
   ---> 1800 total reviews
Scraping page 19
   ---> 1900 total reviews
Scraping page 20
   ---> 2000 total reviews

In [ ]:
#Coverting the list data into a dataframe
df = pd.DataFrame(data)
df.columns = ["REVIEW","PERSONAL INFO","CONTENT"]

#Removing unwanted text(first text preprocessing)
df.replace(re.compile(r'\s*✅ Trip Verified \|\s*'), '', inplace=True)
df

,REVIEW,PERSONAL INFO,CONTENT
0,"""Another bad show""",Kathi Blanning (United States) 14th May 2023,Not Verified | Only the second time flying BA ...
1,"""what an earth is going on at BA""",2 reviews Harry Okin (United Kingdom) 14t...,I wasn't going to bother reviewing this flight...
2,"""I had to reschedule my flight""",Nicholas Felty (United States) 13th May 2023,I booked business class tickets for my fiancé ...
3,"""most appalling airline service""",C Peale (Australia) 8th May 2023,I will never travel with British Airways again...
4,"""Customer service is shocking""",Jason Wickert (United Kingdom) 6th May 2023,I am already in Portugal so contacted them tod...
...,...,...,...
1995,"""flight time should justify at least a sandwich""",57 reviews A Wong (China) 16th August 2016,✅ Verified Review | The flight from London Hea...
1996,"""bag did not arrive into Dublin""",Richard Tobin (United Kingdom) 16th August 2016,✅ Verified Review | I was booked to travel Br...
1997,"""friendly and professional""",B Richardson (United Kingdom) 14th August 2016,✅ Verified Review | London Heathrow - Vancouv...
1998,"""A380 is unconscionably crammed""",W Jackson (United States) 14th August 2016,✅ Verified Review | Flew London Heathrow to W...
1999,"""no respect for economy travellers""",R Anderson (United Kingdom) 14th August 2016,✅ Verified Review | I fly this route 3-4 time...

In [ ]:
#Saving data into a csv
df.to_csv("\BA_reviews.csv")

Congratulations! Now you have your dataset for this task! The loops above collected 1000 reviews by iterating through the paginated pages on the website. However, if you want to collect more data, try increasing the number of pages!

 The next thing that you should do is clean this data to remove any unnecessary text from each of the rows. For example, "✅ Trip Verified" can be removed from each row if it exists, as it's not relevant to what we want to investigate.

In [ ]:
sentiment_analysis_df = df.drop(["REVIEW","PERSONAL INFO"], axis=1)
sentiment_analysis_df.replace(re.compile(r'\s*✅ Verified Review \|\s*'), '', inplace=True)
sentiment_analysis_df

                                                CONTENT
0     Not Verified | Only the second time flying BA ...
1     I wasn't going to bother reviewing this flight...
2     I booked business class tickets for my fiancé ...
3     I will never travel with British Airways again...
4     I am already in Portugal so contacted them tod...
...                                                 ...
1995  The flight from London Heathrow to Krakow with...
1996  I was booked to travel British Airways from He...
1997  London Heathrow - Vancouver - London Heathrow....
1998  Flew London Heathrow to Washington DC. The Bus...
1999  I fly this route 3-4 times a year, unfortunate...

[2000 rows x 1 columns]

In [ ]:
# Save the DataFrame to a CSV file
sentiment_analysis_df.to_csv("sentiment_content.csv", index=False)